# Importing The data

In [1]:
import glob
import os
import numpy as np
import pandas as pd

atp_data_dir = r'../data/atp'

In [2]:
# player data
na_player_data = pd.read_csv(atp_data_dir + "/atp_players.csv",
                                  header=None,
                                  names=["id", "first_name", "last_name", 
                                         "hand", "birthdate", "country"])

print("There are {0:,} non-anonymous player rows".format(len(na_player_data.index)))

There are 45,684 non-anonymous player rows

In [3]:
# match data (2009-2015)
match_files = glob.glob(atp_data_dir + "/atp_matches_20??.csv")
exclude_years = ['2000','2001','2002','2003','2004','2005','2006','2007','2008','2016']

na_match_data = pd.DataFrame()
match_file_list = []
for file_ in match_files:
    if not any(x in os.path.basename(file_) for x in exclude_years):
        print("Importing " + os.path.basename(file_))
        df = pd.read_csv(file_)
        match_file_list.append(df)
    
na_match_data = pd.concat(match_file_list)

print("There are {0:,} non-anonymous match rows with {1:,} columns"
      .format(len(na_match_data.index),len(na_match_data.columns)))

Importing atp_matches_2009.csv
Importing atp_matches_2015.csv
Importing atp_matches_2011.csv
Importing atp_matches_2013.csv
Importing atp_matches_2010.csv
Importing atp_matches_2014.csv
Importing atp_matches_2012.csv
There are 21,005 non-anonymous match rows with 49 columns

In [4]:
na_match_data.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,winner_rank,winner_rank_points,loser_id,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
count,21005.000000,21005.000000,21005.000000,21005.000000,9225.000000,19337.000000,21003.000000,20830.000000,20830.000000,21005.000000,...,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000,18622.000000
mean,52.663604,20120136.758534,26.375054,104655.692216,7.285312,186.649480,26.875957,77.947384,2005.415699,104799.626327,...,4.890076,5.066695,3.180056,80.293470,48.374503,32.298249,14.763344,12.222264,4.681506,8.459832
std,39.768453,19966.501506,27.322064,1937.794415,6.817255,7.171643,3.465666,141.952541,2584.143953,2424.049226,...,3.924588,4.855238,2.378538,29.173208,19.346956,14.562432,7.144132,4.241926,3.190209,4.021500
min,4.000000,20090104.000000,1.000000,100644.000000,1.000000,163.000000,16.147844,1.000000,1.000000,100644.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,20100801.000000,7.000000,104022.000000,2.000000,183.000000,24.366872,16.000000,645.000000,103999.000000,...,2.000000,2.000000,1.000000,59.000000,35.000000,22.000000,10.000000,9.000000,2.000000,6.000000
50%,32.000000,20120506.000000,18.000000,104594.000000,5.000000,185.000000,26.904860,42.000000,1036.500000,104593.000000,...,4.000000,4.000000,3.000000,75.000000,45.000000,30.000000,14.000000,11.000000,4.000000,8.000000
75%,56.000000,20140217.000000,32.000000,105023.000000,9.000000,190.000000,29.290897,82.000000,2050.000000,105064.000000,...,7.000000,7.000000,4.000000,96.000000,58.000000,40.000000,19.000000,15.000000,6.000000,11.000000
max,128.000000,20151127.000000,127.000000,200537.000000,33.000000,208.000000,38.313484,2101.000000,15785.000000,200273.000000,...,30.000000,103.000000,21.000000,489.000000,328.000000,284.000000,101.000000,91.000000,23.000000,31.000000